In [1]:
import pandas as pd
import networkx as nx
import requests
import comtradeapicall
import wbgapi

In [2]:
import importlib.metadata
version = importlib.metadata.version("comtradeapicall")
print("comtradeapicall version:", version)

comtradeapicall version: 1.3.0

In [3]:
# comtrade api subscription key (from comtradedeveloper.un.org)
subscription_key = 'e24dfdc3c644425086e31dd6392bca1b'
directory = '<OUTPUT DIR>'  # output directory for downloaded files
proxy_url = '<PROXY URL>'  # optional if you need proxy url

In [4]:
exportdataframe=pd.DataFrame()
for year in range(2000,2021):
    exportdataframe = pd.concat([exportdataframe,(comtradeapicall.getFinalData(typeCode='C', freqCode='A', clCode='HS', period=str(year),
                                        reporterCode=None, cmdCode='TOTAL', flowCode='X', partnerCode=None,
                                        partner2Code=None,
                                        customsCode=None, motCode=None, maxRecords=None, format_output='JSON',
                                        aggregateBy=None, breakdownMode='classic', countOnly=None, includeDesc=True, subscription_key=subscription_key))],ignore_index=True)

In [5]:
exportdataframe

,typeCode,freqCode,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,flowCode,...,netWgt,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
0,C,A,20000101,2000,52,2000,8,ALB,Albania,X,...,NaN,False,NaN,False,NaN,2.614758e+08,2.614758e+08,0,False,False
1,C,A,20000101,2000,52,2000,8,ALB,Albania,X,...,NaN,False,NaN,False,NaN,2.090000e+02,2.090000e+02,0,False,False
2,C,A,20000101,2000,52,2000,8,ALB,Albania,X,...,NaN,False,NaN,False,NaN,2.228800e+04,2.228800e+04,0,False,False
3,C,A,20000101,2000,52,2000,8,ALB,Albania,X,...,NaN,False,NaN,False,NaN,1.781822e+06,1.781822e+06,0,False,False
4,C,A,20000101,2000,52,2000,8,ALB,Albania,X,...,NaN,False,NaN,False,NaN,2.666450e+05,2.666450e+05,0,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
480344,C,A,20200101,2020,52,2020,894,ZMB,Zambia,X,...,NaN,False,0.0,False,NaN,9.328777e+06,9.328777e+06,0,False,True
480345,C,A,20200101,2020,52,2020,894,ZMB,Zambia,X,...,NaN,False,0.0,False,NaN,5.977954e+07,5.977954e+07,0,False,True
480346,C,A,20200101,2020,52,2020,894,ZMB,Zambia,X,...,NaN,False,0.0,False,NaN,2.330046e+07,2.330046e+07,0,False,True
480347,C,A,20200101,2020,52,2020,894,ZMB,Zambia,X,...,0.0,True,0.0,False,NaN,1.645592e+05,1.645592e+05,4,False,True
480348,C,A,20200101,2020,52,2020,894,ZMB,Zambia,X,...,0.0,True,0.0,False,NaN,3.433489e+05,3.433489e+05,4,False,True

In [6]:
importdataframe=pd.DataFrame()
for year in range(2000,2021):
    importdataframe = pd.concat([importdataframe,(comtradeapicall.getFinalData(typeCode='C', freqCode='A', clCode='HS', period=str(year),
                                        reporterCode=None, cmdCode='TOTAL', flowCode='M', partnerCode=None,
                                        partner2Code=None,
                                        customsCode=None, motCode=None, maxRecords=None, format_output='JSON',
                                        aggregateBy=None, breakdownMode='classic', countOnly=None, includeDesc=True, subscription_key=subscription_key))],ignore_index=True)

In [7]:
importdataframe

,typeCode,freqCode,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,flowCode,...,netWgt,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
0,C,A,20000101,2000,52,2000,8,ALB,Albania,M,...,NaN,False,NaN,False,1.089468e+09,NaN,1.089468e+09,0,False,False
1,C,A,20000101,2000,52,2000,8,ALB,Albania,M,...,NaN,False,NaN,False,5.660000e+02,NaN,5.660000e+02,0,False,False
2,C,A,20000101,2000,52,2000,8,ALB,Albania,M,...,NaN,False,NaN,False,7.847000e+03,NaN,7.847000e+03,0,False,False
3,C,A,20000101,2000,52,2000,8,ALB,Albania,M,...,NaN,False,NaN,False,1.625520e+05,NaN,1.625520e+05,0,False,False
4,C,A,20000101,2000,52,2000,8,ALB,Albania,M,...,NaN,False,NaN,False,7.769490e+05,NaN,7.769490e+05,0,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
567097,C,A,20200101,2020,52,2020,894,ZMB,Zambia,M,...,NaN,False,0.0,False,6.865874e+07,NaN,6.865874e+07,0,False,True
567098,C,A,20200101,2020,52,2020,894,ZMB,Zambia,M,...,NaN,False,0.0,False,1.192939e+08,NaN,1.192939e+08,0,False,True
567099,C,A,20200101,2020,52,2020,894,ZMB,Zambia,M,...,0.0,True,0.0,False,3.965430e+03,NaN,3.965430e+03,4,False,True
567100,C,A,20200101,2020,52,2020,894,ZMB,Zambia,M,...,0.0,True,0.0,False,1.405608e+05,NaN,1.405608e+05,4,False,True
567101,C,A,20200101,2020,52,2020,894,ZMB,Zambia,M,...,0.0,True,0.0,False,2.817857e+03,NaN,2.817857e+03,4,False,True

In [8]:
indicator = 'NY.GDP.MKTP.KD'   # GDP (constant 2015 US$)

gdpdataframe = wbgapi.data.DataFrame(
    indicator,
    economy='all',
    time=range(2000, 2021),
)

gdpdataframe = gdpdataframe.reset_index()
gdpdataframe = gdpdataframe.rename(columns={
    'economy': 'iso3c',
    'time': 'year',
    indicator: 'gdp_const_2015_usd'
})

In [9]:
gdpdataframe

,iso3c,YR2000,YR2001,YR2002,YR2003,YR2004,YR2005,YR2006,YR2007,YR2008,...,YR2011,YR2012,YR2013,YR2014,YR2015,YR2016,YR2017,YR2018,YR2019,YR2020
0,ABW,2.545966e+09,2.652439e+09,2.627374e+09,2.656551e+09,2.850313e+09,2.839392e+09,2.871404e+09,2.960117e+09,3.014458e+09,...,2.676913e+09,2.649051e+09,2.819424e+09,2.859632e+09,2.962907e+09,2.999479e+09,3.104264e+09,3.203987e+09,3.243240e+09,2.468171e+09
1,AFE,4.898172e+11,5.069781e+11,5.268371e+11,5.426915e+11,5.732706e+11,6.086623e+11,6.490623e+11,6.925497e+11,7.232818e+11,...,8.000189e+11,8.151966e+11,8.507121e+11,8.840634e+11,9.100020e+11,9.293861e+11,9.542707e+11,9.800856e+11,9.999820e+11,9.718068e+11
2,AFG,6.206548e+09,5.621148e+09,7.228796e+09,7.867263e+09,7.978516e+09,8.874480e+09,9.349922e+09,1.064267e+10,1.106040e+10,...,1.542008e+10,1.738649e+10,1.836026e+10,1.886050e+10,1.913422e+10,1.956672e+10,2.008465e+10,2.032350e+10,2.111847e+10,2.062196e+10
3,AFW,3.266728e+11,3.438188e+11,3.780057e+11,3.992737e+11,4.315010e+11,4.565170e+11,4.806538e+11,5.068376e+11,5.383163e+11,...,6.414680e+11,6.743734e+11,7.151507e+11,7.558539e+11,7.780221e+11,7.795339e+11,7.974347e+11,8.205975e+11,8.475269e+11,8.159088e+11
4,AGO,3.518276e+10,3.666254e+10,4.167273e+10,4.312599e+10,4.805092e+10,5.485242e+10,6.134795e+10,6.932483e+10,7.680265e+10,...,8.544642e+10,9.271203e+10,9.723922e+10,1.017664e+11,1.025431e+11,1.007993e+11,1.006487e+11,1.000504e+11,9.984565e+10,9.580944e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,XKX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.580661e+09,...,5.368051e+09,5.459963e+09,5.751568e+09,5.944177e+09,6.295848e+09,6.646639e+09,6.967383e+09,7.204736e+09,7.547451e+09,7.144396e+09
262,YEM,4.149863e+10,4.307710e+10,4.477228e+10,4.645007e+10,4.829539e+10,5.099595e+10,5.261273e+10,5.436917e+10,5.635232e+10,...,5.502337e+10,5.634008e+10,5.905765e+10,5.894622e+10,4.244449e+10,3.846527e+10,3.651439e+10,3.678914e+10,NaN,NaN
263,ZAF,2.216920e+11,2.276777e+11,2.361026e+11,2.430654e+11,2.541360e+11,2.675469e+11,2.825397e+11,2.976851e+11,3.071844e+11,...,3.215285e+11,3.292331e+11,3.374161e+11,3.421866e+11,3.467098e+11,3.490139e+11,3.530553e+11,3.585516e+11,3.594836e+11,3.373073e+11
264,ZMB,8.059030e+09,8.487518e+09,8.869967e+09,9.485984e+09,1.015308e+10,1.088771e+10,1.174824e+10,1.272951e+10,1.371909e+10,...,1.744756e+10,1.877312e+10,1.972258e+10,2.064821e+10,2.125122e+10,2.204922e+10,2.282665e+10,2.374759e+10,2.408986e+10,2.341895e+10
265,ZWE,1.994713e+10,2.023427e+10,1.843463e+10,1.530165e+10,1.441300e+10,1.358986e+10,1.311946e+10,1.264017e+10,1.040678e+10,...,1.610968e+10,1.879443e+10,1.916834e+10,1.962397e+10,1.997325e+10,2.012421e+10,2.107697e+10,2.213291e+10,2.073135e+10,1.911079e+10